<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ngRepeat Tab</title>
    <script src="../js/angular.js"></script>
    <script src="./app.js"></script>
  </head>
  <body ng-controller="myCtrl">
    <h1>Table Siswa</h1>
    <p>
      <label>Kata Kunci</label>
      <input type="search" ng-model="q" placeholder="Cari Siswa" />
    </p>
    <p>
      <table border="1">
        <tr>
          <th><a href="" ng-click="boolname = ordering(boolname, 'name');">Nama</a></th>
          <th><a href="" ng-click="boolclass = ordering(boolclass, 'class');">Kelas</a></th>
          <th><a href="" ng-click="boolscore = ordering(boolscore, 'score');">Nilai</a></th>
        </tr>
        <tr ng-repeat="s in (results = (students | filter: q | orderBy: ord: ordstatus))">
          <td>{{ s.name }}</td>
          <td>{{ s.class }}</td>
          <td>{{ s.score }}</td>
        </tr>
        <tr ng-if="results.length == 0">
          <td colspan="3">Hasil tidak ditemukan.</td>
        </tr>
      </table>
    </p>
  </body>
</html>
